.navbar.navbar-dark.bg-inverse
    a.navbar-brand([routerLink]='["Tasks"]') Taskka
    ul.nav.navbar-nav
        li.nav-item([class.active]="isRouteActive(['Tasks'])")
            a.nav-link([routerLink]='["Tasks"]') Tools