h1 tasks
.row
    .col-lg-4
        form((ngSubmit)='addTask()')
            .input-group
                input.form-control(type='text', [(ngModel)]='newTask.name', required, ngControl='name')
                span.input-group-btn
                    button.btn.btn-secondary(type='submit', [disabled]="creatingNewTask") Add

        tka-task-list([tasks]="tasks")
