.task
    form(#editForm='ngForm')
        div(*ngIf='!editing')
            | {{task.name}}
            span.pull-xs-right
                a.btn.btn-secondary((click)='edit()') Edit
                a.btn.btn-danger((click)='destroy()') Delete
        div(*ngIf='editing')
            .input-group
                input.form-control(*ngIf='editing', type='text', [(ngModel)]='editTask.name', required)
                span.input-group-btn
                    button.btn.btn-primary(type='submit', [disabled]='saving', (click)='save()') Save
