h1 tasks
.row
    .col-lg-4
        ul
            li(*ngFor='#task of tasks')
                tka-task([task]="task")
                a((click)='deleteTask(task)') Delete
            li
                form((ngSubmit)='addTask()')
                    .input-group
                        input.form-control(type='text', [(ngModel)]='newTask.name', required, ngControl='name')
                        span.input-group-btn
                            button.btn.btn-secondary(type='submit', [disabled]="creatingNewTask") Add
